<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Portfolio">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/letterd.jpg') }}" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="module" src="{{ url_for('static', filename='styles.js') }}" defer></script>
    <title>Divine Chukwu</title>
</head>

<body>
    <header>
        <nav id="nav">
            <div class="navbar">
                <a href="/"><img src="{{ url_for('static', filename='images/letterd.jpg') }}" alt="Divine logo"></a>
                <div class="links">
                    <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                    <a class="nav-link" href="{{ url_for('index') }}#about">About</a>
                    <a class="nav-link" href="{{ url_for('projects') }}">Projects</a>
                    <a class="nav-link" href="{{ url_for('index') }}#contact">Contact</a>
                    <a class="nav-link" href="{{ url_for('static', filename='images/divineresume.pdf') }}" download>My Resume</a>
                </div>
                <div class="hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
            </div>
        </nav>
    </header>

    <section id="home">
        <h4>Hello, my name is</h4>
        <h1>Divine Chukwu</h1>
        <p class="info">
            I'm a Senior Software Developer based in Nigeria, who's currently working on building some personal projects with different
            programming languages and methods.
        </p>
    </section>
    <section id="about">
        <h2>About me</h2>
        <div class="about-div">
            <div class="projects">
                <img data-aos="zoom-in" class="about-img" src="{{ url_for('static', filename='images/profile-picture.jpg') }}" alt="Photo of Divine">
                <a class="project-link" href="{{ url_for('projects') }}">Check out my projects</a>
            </div>
            <div class="info-div">
                <p class="about-info">
                    As a native of Cameroon, I relocated to the Nigeria in search of greater career opportunities upon completing high school. Fueled by my passion for software development, I took the initiative to self-learn through online platforms such as Udemy.
                </p>
                <p class="about-info">
                    Determined to fully immerse myself in the field, I enrolled in the highly regarded immersive coding bootcamp, 100 days of Code, where I thrived and significantly advanced my coding abilities. This rigorous training equipped me with the skills and confidence to make meaningful contributions to the dynamic tech industry.
                </p>
                <p class="about-info">
                    Here are a few technologies I work with:
                </p>
                <ul class="skills">
                    <li>Python</li>
                    <li>Django</li>
                    <li>PostgreSQL</li>
                    <li>Flask</li>
                    <li>Javascript</li>
                    <li>SQLite</li>
                    <li>Pandas</li>
                    <li>Maplotlib</li>
                    <li>Selenium</li>
                    <li>HTML</li>
                    <li>CSS</li>
                </ul>
            </div>
        </div>
    </section>
    <section id="contact">
        <h3>Get in touch</h3>
        <p class="question">
            Got a question or proposal, or just want
            to say hello?
        </p>
        <a class="cv" href="mailto:dpecchukwu@gmail.com">Email me</a>
    </section>
    <footer>
        <div class="icons">
            <a href="https://www.linkedin.com/in/divine-chukwu-63bb04145/" target="_blank"><img class="icon"
                    src="{{ url_for('static', filename='images/linkedin-icon.png') }}" alt="Linkedin icon"></a>
            <a href="https://github.com/Dipec001" target="_blank"><img class="icon" src="{{ url_for('static', filename='images/github-icon.png') }}"
                    alt="Github icon"></a>
            <a href="mailto:dpecchukwu@gmail.com"><img class="icon" src="{{ url_for('static', filename='images/mail-icon.png') }}" alt="Mail icon"></a>
        </div>
        <div class="github">
            <a class="github-link" href="https://github.com/Dipec001">Copyright © Divine Chukwu</a>
        </div>
    </footer>
</body>

</html>
