<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Projects</title>
    <link rel="icon" href="https://media.istockphoto.com/id/1303269536/vector/d-style-logo-icon-shape.jpg?s=1024x1024&w=is&k=20&c=_-jzc7ltLGlmDNzY57AAHYOW7DTTYrpunXvRhVtf7dk=">
    <link rel="stylesheet" href="./static/styles.css">
</head>
<body>
    <header>
        <div>
            <a href="/">
                <img src="https://media.istockphoto.com/id/1303269536/vector/d-style-logo-icon-shape.jpg?s=1024x1024&w=is&k=20&c=_-jzc7ltLGlmDNzY57AAHYOW7DTTYrpunXvRhVtf7dk=" alt="Dipec logo" class="logo">
            </a>
        </div>
        <div class="nav-links">
            <a href="/" class="hover-effect" style="margin-right: 30px;">Home</a>
            <a href="#" class="hover-effect" style="margin-right: 30px;">Projects</a>
            <a href="#about" class="hover-effect" style="margin-right: 30px;">About</a>
            <a href="#contact" class="hover-effect" style="margin-right: 30px;">Contact</a>
        </div>
    </header>
</body>
</html>