<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Portfolio">
    <link rel="stylesheet" href="./static/styles.css">
    <link rel="icon" href="./static/images/letterd.jpg" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="module" src="./static/styles.js" defer></script>
</head>
<body>
    <header>
        <nav id="nav">
            <div class="navbar">
                <a href="/"><img src="./static/images/letterd.jpg" alt="Divine logo"></a>
                <div class="links">
                    <a class="nav-link" href="/">Home</a>
                    <a class="nav-link" href="/#about">About</a>
                    <a class="nav-link" href="{{url_for('projects')}}">Projects</a>
                    <a class="nav-link" href="/#contact">Contact</a>
                </div>
                <div class=" hamburger">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                </div>
            </div>
        </nav>
    </header>
    <h1 class="heading-proj">Main Projects</h1>
    <div class="projects-div">
        <img src="./static/images/investment.png" alt="Investment website homepage" class="project-img">
        <div class="proj-info-one">
            <h2 class="proj-h-one">Investment Website</h2>
            <p class="proj-p-one">
                User Authentication: Users can sign up, log in, and reset their passwords. Investment Options: Users can choose from different investment packages with varying profit rates. Account Management: Users can view their account balance, transaction history, and manage their profile. Admin Dashboard: Administrators have access to an admin dashboard to manage user accounts and transactions. Email Notifications: Users receive email notifications for account verification, password reset, and other important actions.
            </p>
            <div class="frame-div">
                <p class="frameworks">Python</p>
                <p class="frameworks">Flask</p>
                <p class="frameworks">JS</p>
                <p class="frameworks">PostgreSQL</p>
                <p class="frameworks">Render</p>
            </div>
            <div class="small-links">
                <a href="https://github.com/Dipec001/investment-website.git" target="_blank"><img class="small-github"
                        src="./static/images/github-icon.png" alt="Github icon"></a>
                <a href="https://investment-website.onrender.com" target="_blank">
                    <img class="small-link" src="./static/images/external-link.png" alt="Link icon">
                </a>
            </div>
        </div>
    </div>
</body>
</html>