<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Portfolio">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="./static/images/letterd.jpg" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="module" src="./static/styles.js" defer></script>
</head>
<body>
    <header>
        <nav id="nav">
            <div class="navbar">
                <a href="/"><img src="./static/images/letterd.jpg" alt="Divine logo"></a>
                <div class="links">
                    <a class="nav-link" href="/">Home</a>
                    <a class="nav-link" href="/#about">About</a>
                    <a class="nav-link" href="/#contact">Contact</a>
                    <a class="nav-link" href="https://drive.google.com/file/d/1E_NvBlNBdfgvMAM3HRJU7kQhRm-_6FxG/view?usp=drivesdk" download>My Resume</a>
                </div>
                <div class=" hamburger">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                </div>
            </div>
        </nav>
    </header>
    <h1 class="heading-proj">Main Projects</h1>
    <div class="projects-div">
        <img src="./static/images/epharma.jpg" alt="E-pharma homepage" class="project-img">
        <div class="proj-info-one">
            <h2 class="proj-h-one">Online Pharmacy Store</h2>
            <p class="proj-p-one">
                User Authentication: Users can sign up, log in, and reset their passwords. Investment Options: Users can choose from different investment packages with varying profit rates. Account Management: Users can view their account balance, transaction history, and manage their profile. Admin Dashboard: Administrators have access to an admin dashboard to manage user accounts and transactions. Email Notifications: Users receive email notifications for account verification, password reset, and other important actions.
            </p>
            <div class="frame-div">
                <p class="frameworks">Python</p>
                <p class="frameworks">Django</p>
                <p class="frameworks">JS</p>
                <p class="frameworks">PostgreSQL</p>
                <p class="frameworks">Celery/queueing</p>
                <p class="frameworks">Html</p>
                <p class="frameworks">CSS</p>
                <p class="frameworks">heroku</p>
            </div>
            <div class="small-links">
                <a href="https://github.com/Dipec001/epharma.git" target="_blank"><img class="small-github"
                        src="./static/images/github-icon.png" alt="Github icon"></a>
                <a href="https://epharma-85a3b303fb2a.herokuapp.com" target="_blank">
                    <img class="small-link" src="./static/images/external-link.png" alt="Link icon">
                </a>
            </div>
        </div>
    </div>
    <div class="projects-div">
        <img src="./static/images/investment.png" alt="Investment website homepage" class="project-img">
        <div class="proj-info-one">
            <h2 class="proj-h-one">Investment Website</h2>
            <p class="proj-p-one">
                ePharma is an online pharmacy e-commerce platform developed using Django. This project aims to provide users with a seamless and efficient way to purchase medications and health-related products online. It includes features such as user authentication, product search and filtering, a shopping cart, and integration with Stripe for secure payments. Additionally, users can upload their prescriptions for specific medications that require one.
            </p>
            <div class="frame-div">
                <p class="frameworks">Python</p>
                <p class="frameworks">Flask</p>
                <p class="frameworks">JS</p>
                <p class="frameworks">PostgreSQL</p>
                <p class="frameworks">Render</p>
            </div>
            <div class="small-links">
                <a href="https://github.com/Dipec001/investment-website.git" target="_blank"><img class="small-github"
                        src="./static/images/github-icon.png" alt="Github icon"></a>
                <a href="https://investment-website.onrender.com" target="_blank">
                    <img class="small-link" src="./static/images/external-link.png" alt="Link icon">
                </a>
            </div>
        </div>
    </div>
    <div class="projects-div">
        <div class="proj-info-two">
            <h2 class="proj-h-two">Todo</h2>
            <p class="proj-p-two">
                Todo web application with login and authentication developed using django and deployed
                via Render.
            </p>
            <div class="frame-div-two">
                <p class="frameworks-two">Django</p>
                <p class="frameworks-two">HTML</p>
                <p class="frameworks-two">CSS</p>
                <p class="frameworks-two">Bootstrap</p>
                <p class="frameworks-two">PostgreSQL</p>

            </div>
            <div class="small-links-two">
                <a href="https://github.com/Dipec001/Todo-app.git" target="_blank"><img class="small-github"
                        src="./static/images/github-icon.png" alt="GitHub icon"></a>
                <a href="https://todo-b4qi.onrender.com/" target="_blank">
                    <img class="small-link" src="./static/images/external-link.png" alt="Link icon">
                </a>
            </div>
        </div>
        <img src="./static/images/todo.png" alt="Todo app" class="project-img">
    </div>
</body>
</html>